{% extends "base.html" %}
{% block title %}Loan Detail{% endblock %}

{% block content %}
<h1 class="text-xl font-bold mb-4">Loan Detail</h1>

<table class="w-full border-collapse border">
    <tr>
        <th class="border p-2">Employee</th>
        <td class="border p-2">{{ loan.employee.get_full_name }}</td>
    </tr>
    <tr>
        <th class="border p-2">Principal</th>
        <td class="border p-2">{{ loan.principal }}</td>
    </tr>
    <tr>
        <th class="border p-2">Interest Rate</th>
        <td class="border p-2">{{ loan.interest_rate|floatformat:2 }}</td>
    </tr>
    <tr>
        <th class="border p-2">Term</th>
        <td class="border p-2">{{ loan.term_months }} months</td>
    </tr>
    <tr>
        <th class="border p-2">Start Date</th>
        <td class="border p-2">{{ loan.start_date }}</td>
    </tr>
    <tr>
        <th class="border p-2">Balance</th>
        <td class="border p-2">{{ loan.balance }}</td>
    </tr>
    <tr>
        <th class="border p-2">Monthly Deduction</th>
        <td class="border p-2">{{ loan.monthly_deduction }}</td>
    </tr>
    <tr>
        <th class="border p-2">Per Cutoff</th>
        <td class="border p-2">{{ loan.per_cutoff }}</td>
    </tr>
    <tr>
        <th class="border p-2">Status</th>
        <td class="border p-2">{{ loan.get_status_display }}</td>
    </tr>
</table>

<a href="{% url 'human_resource:loan_list' %}" class="bg-gray-500 text-white px-3 py-1 rounded mt-2 inline-block">Back to List</a>
{% endblock %}
